
@media (min-width: 992px) {
    header {
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
    }

    nav a {
        padding: 0.5rem 1rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}